
/*Globals and Defaults*/

* {box-sizing: border-box;}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #989898;
}

h1, h2, h3, h4, h5 {color:#4f4f4f}

h1 {font-size: 30px; font-weight: bold;}
h2 {font-size: 24px;}
h3 {font-size: 22px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}

/* Nav*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:64px;
    width:100%;
    padding:0px 24px;
    color:#4f4f4f;
}

#nav-logo{
    display: flex;
    align-items: center;
    height:32px;
}
#nav-logo > img{height:100%;width:auto}
#nav-logo h5:nth-child(2) {color:#01161E;}
#nav-logo h5:nth-child(3) {color:#9f9b9b;}

nav ul{list-style-type: none;}

nav li{
    display: inline-block;
    padding-left: 16px;
}

/* Header*/

header {
    display: flex;
    width: 100%;
    background-color: #c4c2c2;
    padding: 32px 0;
}

header > img {
    width: 60%;
    padding-left: 24px;
}

#header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:40%;
    padding:0px 24px;
}

#header-right > h1 {padding-bottom: 16px;}
#header-right > h4 {padding-bottom: 8px;}
#header-btn {
    display: inline-flex;
    justify-content: center;
    width:60%;
    background-color: #4f4f4f;
    color:white;
    padding:4px;
}

/* About*/

#about {
    display: flex;
    flex-direction: column;
    width:100%;
    padding:32px 0;
}

#about-first {
    display: flex;
    width:100%;
    justify-content: space-between;
}

#about-img {
    width: 60%;
    height: auto;
    padding-left: 24px;
    padding-bottom: 32px;
}

#about-first > aside {
    width:35%;
}

#about-first > aside div:nth-child(3){background-color: #E1DFDF;}

.about-card{
    display:flex;
    padding:16px;
    padding-right:24px;
}

.about-card > img {
    width:35%;
    height:auto;
}
.about-card > div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding-left: 16px;
}

.about-card a {color: #497ABD;}

#about-desc {
    width: 60%;
    padding-left: 24px;
}

#about-desc > h2, #about-desc > p {padding-bottom: 24px;}

/* Footer*/

footer {
    border-top:1px solid #989898;
    padding:16px 24px;
}

@media screen and (max-width: 720px) {}