
/*Globals and Defaults*/

* {box-sizing: border-box;}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #989898;
}

h1, h2, h3, h4, h5 {color:#4f4f4f}

h1 {font-size: 30px; font-weight: bold;}
h2 {font-size: 24px;}
h3 {font-size: 22px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}

nav {width: 100%;}
nav ul{list-style-type: none;}
nav li{display: inline-block;}

a {
    text-decoration: none;
    color:inherit;
}
/* Mobile*/

.mobile-inblock {display: none;}


/* Nav*/

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:64px;
    width:100%;
    padding:0px 24px;
}

#nav-logo{
    display: flex;
    align-items: center;
    height:32px;
}
#nav-logo h5:nth-child(2) {color:#01161E;}
#nav-logo h5:nth-child(3) {color:#9f9b9b;}
#nav-logo img{height:100%;width:auto}

#main-nav-links img{height:32px;}
#main-nav-links li{padding-left: 16px;}
#main-nav-links a{color:#4f4f4f;}

/* Header*/

header {
    display: flex;
    width: 100%;
    background-color: #c4c2c2;
    padding: 32px 24px;
}

header > img {width:60%;}

#header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:40%;
    padding-left: 24px;
}

#header-right > h1 {padding-bottom: 16px;}
#header-right > h4 {padding-bottom: 8px;}
#header-btn {
    display: inline-flex;
    justify-content: center;
    width:60%;
    background-color: #4f4f4f;
    color:white;
    padding:3px;
}

/* About*/

#about {
    display: flex;
    justify-content: space-between;
    width:100%;
    padding:32px 24px;
}

#about-left {
    width:60%;
}

#about-left img {
    width: 100%;
    margin-bottom: 32px;
}
#about-desc h2, #about-desc p {padding-bottom: 24px;}

#about-aside {width:30%;}
.about-card{
    display:flex;
    padding:16px;
}

.about-card-image {
    width:35%;
    height:auto;
}
.about-card-image img {
    width:100%;
    height:auto;
}

.about-card-desc {
    width:65%; 
    padding-left: 16px;
}

.about-card-desc h3{padding-bottom: 16px;}
.about-card-desc p{padding-bottom: 8px;}
.about-card a{color: #497ABD;}
.about-card:last-child{background-color: #E1DFDF;}

/* Course*/

#course {
    background-color: #E1DFDF;
    display: flex;
    flex-direction: column;
    padding:32px 72px;
}

#course-heading {
    width:100%;
    padding-bottom:32px;
    text-align: center;
}

#course-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -32px;
}

.course-card {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    background-color: white;
    width:32%;
}

.course-card > img {height:auto;}

.course-card-desc{
    padding:16px 16px 24px 16px;
}

.course-card-courses {
    padding-bottom: 16px;
}

/* Exhibit*/

#exhibit {
    display: flex;
    flex-direction: column;
    width:100%;
    padding:32px 24px;
}

#exhibit-header {
    width:100%;
    text-align: center;
    padding-bottom: 32px;
}

#exhibit-body {
    display:flex;
    justify-content: space-between;
}

#exhibit-left {width:60%;}

#exhibit-video {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
}

#exhibit-desc > h2 {padding-bottom: 15px;}

#exhibit-aside {
    width:40%;
    padding-left:24px;
}

.exhibit-card {
    display:flex;
    padding:16px;
}

.exhibit-card-image {width: 35%;}
.exhibit-card-image img {
    width: 100%;
    height:auto;
}

.exhibit-card-desc  {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding-left: 16px;
}

#exhibit-aside .exhibit-card:first-child{background-color: #E1DFDF;}



/* Footer*/

footer {
    border-top:1px solid #989898;
    display: flex;
    justify-content: space-between;
    padding:16px 8px 24px 24px;
}

#footer-copyright {width:50%;}
#footer-nav {width: auto;} 
#footer-nav li {padding-right: 14px;}
#footer-nav li:last-child {padding-right: 0;}

@media screen and (max-width: 720px) {
    
    .immobile {display: none;}

    .mobile-inblock {display: inline-block;}

    /* Mobile-Nav*/

    #main-nav {
        justify-content: center;
        padding:0;
    }

    #main-nav-links {width:100%;}

    #main-nav-links > ul {
        display: flex;
        width:100%;
        justify-content: space-around;
        align-items: center;
    }

    #main-nav-links li{padding:0;}

    /* Mobile-Header */

    header {
        flex-direction: column;
        padding:0 0 32px 0;
    }

    header > img {
        width:100%;
        margin-bottom: 16px;
    }
    #header-right {
        width:100%;
        padding:0;
        text-align: center;
        align-items: center;
    }
    #header-btn {
        width:40%;
        padding:6px;
    }

    /* Mobile-About*/

    #about {padding:0;}
    #about-aside {width:100%;}

    .about-card {
        flex-direction: column;
        padding: 16px 32px;
    }
    .about-card-image {width: 100%;}
    .about-card:first-child{padding-top: 32px;}
    .about-card:last-child {
        background-color: white;
        padding-bottom: 32px;
    }
    .about-card-desc {padding: 16px 16px 0 16px;}

    /* Mobile-Course*/

    #course {background-color: white;}

    #course-heading{padding:0;}

    #course-list{
        flex-direction: column;
        align-items: center;
        margin:0px;
    }
    .course-card {
        background-color: #E1DFDF;
        width:100%;
        text-align: center;
        margin-top:16px;
    }

    .course-card-desc {padding:16px;}

    /* Mobile-Exhibit*/

    #exhibit {padding:32px 0;}

    #exhibit-left {width: 100%;}
    #exhibit-video {margin: 0;}

    /* Mobile-Footer*/

    footer {padding-left:16px;}
}