
/*Globals and Defaults*/

* {box-sizing: border-box;}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #989898;
}

h1, h2, h3, h4, h5 {color:#4f4f4f}

h1 {font-size: 30px; font-weight: bold;}
h2 {font-size: 24px;}
h3 {font-size: 22px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}

a {
    text-decoration: none;
    color:inherit;
}

/* Nav*/

#main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:64px;
    width:100%;
    padding:0px 24px;
    color:#4f4f4f;
}

#nav-logo{
    display: flex;
    align-items: center;
    height:32px;
}
#nav-logo > img{height:100%;width:auto}
#nav-logo h5:nth-child(2) {color:#01161E;}
#nav-logo h5:nth-child(3) {color:#9f9b9b;}

nav ul{list-style-type: none;}

nav li{display: inline-block;}

#main-nav li{padding-left: 16px;}

#main-nav a{color:#4f4f4f;}

/* Header*/

header {
    display: flex;
    width: 100%;
    background-color: #c4c2c2;
    padding: 32px 0;
}

header > img {
    width: 60%;
    padding-left: 24px;
}

#header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:40%;
    padding:0px 24px;
}

#header-right > h1 {padding-bottom: 16px;}
#header-right > h4 {padding-bottom: 8px;}
#header-btn {
    display: inline-flex;
    justify-content: center;
    width:60%;
    background-color: #4f4f4f;
    color:white;
    padding:4px;
}

/* About & Exhibit*/

#about, #exhibit {
    display: flex;
    flex-direction: column;
    width:100%;
    padding:32px 0;
}

#about-first, #exhibit-first {
    display: flex;
    width:100%;
    justify-content: space-between;
}

#about-img {
    width: 60%;
    height: auto;
    padding-left: 24px;
    padding-bottom: 32px;
}

#about-aside {
    width:35%;
}

#about-aside div:nth-child(3){background-color: #E1DFDF;}

.aside-card{
    display:flex;
    padding:16px;
    padding-right:24px;
}

.aside-card > img, .exhibit-card > img {
    width:35%;
    height:auto;
}
.aside-card > div, .exhibit-card > div  {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    padding-left: 16px;
}

.aside-card a {color: #497ABD;}

#about-desc {
    width: 60%;
    padding-left: 24px;
}

#about-desc > h2, #about-desc > p {padding-bottom: 24px;}

/*Exhibit*/

#exhibit {
    padding:32px 24px;
}

#exhibit-header {
    width:100%;
    text-align: center;
    padding-bottom: 32px;
}

#exhibit-video {
    width: 60%;
    height: auto;
    padding-bottom: 24px;
}

#exhibit-aside {
    width:40%;
}

.exhibit-card {
    display:flex;
    padding:16px;
    padding-right:0;
}

#exhibit-desc {
    width:60%;
}
#exhibit-desc > h2 {padding-bottom: 15px;}

#exhibit-aside div:nth-child(1){
    background-color: #E1DFDF;
}

/* Course*/

#course {
    background-color: #E1DFDF;
    display: flex;
    flex-direction: column;
    padding:32px 72px;
}

#course-heading {
    width:100%;
    padding-bottom:32px;
    text-align: center;
}

#course-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -32px;
}

.course-card {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    background-color: white;
    width:32%;
}

.course-card > img {height:auto;}

.course-card-desc{
    padding:16px 16px 24px 16px;
}

.course-card-courses {
    padding-bottom: 16px;
}

/* Footer*/

footer {
    border-top:1px solid #989898;
    display: flex;
    justify-content: space-between;
    padding:16px 0 24px 24px;
}

footer nav li {
    padding-right: 8px;
}

/* Mobile*/

#mobile-nav {
    display: none;
}

@media screen and (max-width: 720px) {

    #main-nav {display: none;}

    #mobile-nav{
        display: flex;
        height:64px;
        align-items: center;
    }
    #mobile-nav > ul {
        display: flex;
        width:100%;
        justify-content: space-around;
        align-items: center;
    }

    #mobile-nav img {height:32px;}
    #mobile-nav a {opacity:0.7;}
    #mobile-nav a:hover {opacity:1;}

    /* Mobile-Header */

    header {
        flex-direction: column;
        padding:0 0 32px 0;
    }

    header > img {
        width:100%;
        padding:0;
    }
    #header-right {
        display: flex;
        width:100%;
        padding:0;
        text-align: center;
        align-items: center;
    }

    #header-right h1 {
        padding: 16px 0;
    }

    /* Mobile-Footer*/

    footer {
        padding: 16px 0 24px 16px;
    }
}